body {
  margin: 0;
  background: black;
  color: #00ff00;
  font-family: monospace;
  overflow: hidden;
}

/* viewport window */
.credits-container {
  height: 100vh;
  width: 100%;
  perspective: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* scrolling text block */
.credits {
  position: relative;
  top: 100vh;
  width: 80%;
  text-align: center;

  animation: scrollCredits 20s linear infinite;
}

/* animation */
@keyframes scrollCredits {
  0% {
    transform: translateY(0) rotateX(20deg);
  }

  100% {
    transform: translateY(-200%) rotateX(20deg);
  }
}

/* text styling */
h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
  font-size: 1.5rem;
  color: white;
}

p {
  font-size: 1.1rem;
  color: #00ff00;
}